/*css used by the whole website*/

body {
	font-size: 15px;
}

h1 {
	font-size: 25px;
	padding: 1em;
}

h3 {
	font-size: 20px;
}

/* Index */
#navbar a {
	color: white;
}
/* Index */


/* Home */
#homeTitle {
	font-size: 25px;
	font-weight: 100;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#infoTitle {
	font-weight: 200;
	font-size: 30px;
}
#classTimes {
	text-align: center;
}
#classInfo {
	margin-bottom: 50px;
}
#upcoming {
	margin-top: 50px;
}
/* Home */


/* Syllabus */
#syllabus_table td { 
     border: none !important; 
}
/* Syllabus */


/* Challenges, Caldendar */
.calendar, #chal-table {
	padding: 5em;
}
/* Challenges, Caldendar */


/* Error */
#error404 {
	max-height: 100%;
	max-width: 100%;
}
/* Error */


/* Message */
.lol {
	padding: 20px;
	border: 4px solid red;
	border-radius: 6px;
	margin: 5px;
}

#messageSubmit {
	margin-top: 20px;
}

#messageTitle {
	margin-bottom: 10px;
}
/* Message */