<script src='js/checklist.js'></script>

<div class='container'>
	<!--work in progress, if I don't finish, prob won't implement it ;-; -->
	<div class='col-md-1'>
	<ul class='section-nav'>
	  <li><a href="">Summary</a></li>
	  <li><a href="">Objective</a></li>
	  <li><a href="">Resources</a></li>
	  <li><a href="">Testing</a></li>
	</ul>
	</div>

	<div class='col-md-7 bottom'>
		<div ng-bind-html="challenge"></div>
	</div>
	<div class='col-md-4'>
		<div class='checklist' id='checklist'>
			<h3 class='text-center'>CHECKLIST</h3>
			
			<table class='table table-striped'>
				<tr ng-repeat='item in items'>
					<td ng-show='loggedIn' class='check-button-area'>
						<button ng-click='checkItem(item.placement)' ng-show='checked[item.placement]' class='btn btn-success btn-xs'><span class='glyphicon glyphicon-ok'></span></button>
						<button ng-click='checkItem(item.placement)' ng-show='!checked[item.placement]' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-remove'></span></button>
					</td>
					<td>{{item.description}}</td>
				</tr>
			</table>

			<hr>
			<h3 class='text-center'>TOP POST</h3>
			<div class='challenge-top-post'>
				<h4>{{topPost.title}}</h4>
				<p>
					<span class='votes'>
						<span>{{topPost.votes}} </span>
						<span class='glyphicon glyphicon-arrow-up'></span>
					</span>&nbsp;
					<b>by {{topPost.netId}}</b>
				</p>
				<p>{{topPost.text}}</p>
				<p><a href='index.html#/board/{{topPost.challenge}}'><button class='btn btn-xs btn-primary' id='challengesMessageBoard'><i class="fa fa-weixin"></i></button>&nbsp;Join the discussion!</a></p>
			</div>

		</div>
	</div>
</div>