<script src='js/checklist.js'></script>
<div class='container'>
	<div class='col-md-8 bottom'>
		<div ng-bind-html="challenge"></div>
	</div>
	<div class='col-md-4'>
		<div class='checklist' id='checklist'>
			<h3>Checklist</h3>
			
			<table class='table table-striped'>
				<tr ng-repeat='item in items'>
					<td ng-show='loggedIn' class='check-button-area'>
						<button ng-click='checkItem(item.placement)' ng-show='checked[item.placement]' class='btn btn-success'><span class='glyphicon glyphicon-ok'></span></button>
						<button ng-click='checkItem(item.placement)' ng-show='!checked[item.placement]' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
					</td>
					<td>{{item.description}}</td>
				</tr>
			</table>

			<h3>Top Post</h3>
			<div class='challenge-top-post'>
				<h4>{{topPost.title}}</h4>
				<p>{{topPost.votes}} points <span style="color: red">MAKE THIS PRETTY LIKE THE BOARDS, ADD BUTTONS AND SHIT IDK, MAKE THE LAST CHECKLIST ITEM NOT EH SAME COLOR AS THIS BACKGROUND?? IM TIRED -Brucey</span></p>
				<p>by {{topPost.netId}}</p>
				<p>{{topPost.text}}</p>
				<p><a href='index.html#/board/{{topPost.challenge}}'>Join the discussion!</a></p>
			</div>

		</div>
	</div>
</div>