<div>
	<h1 id="homeTitle">
		<div id="infoTitle">Message Board</div>
	</h1>
	</br>
	<div class='container-fluid'>	
		<p>Messages go here, for staff-student communication</p>
		<div class='group'>
			
			<script type="text/ng-template" id='message-board-post.html'>
				<div>
					<div class='lol'
						<h1>{{post.title}}</h1>
						<p>{{post.text}}</p>
						<p>By {{post.netId}}</p>
						<p>In response to post {{post.parent}}</p>
						<div ng-repeat='post in post.children' ng-include="'message-board-post.html'"></div>
					</div>
				</div>
			</script>

			<div ng-repeat="post in parents" ng-include="'message-board-post.html'"></div>

		</div>
		<div>
			<form>
				<input type='text' ng-model='replyTitle' class='form-control' placeholder='Title' id='messageTitle'>
				<input type='text' ng-model='replyText' class='form-control' placeholder='Text'>
				<button ng-click='postReply()' type='button' class='btn btn-primary' id='messageSubmit'>Submit</button>
			</form>
		</div>
	</div>
</div>